@font-face {
    font-family: montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../../assets/fonts/Raleway/Raleway-Regular.ttf)
}